body{
background: #040f7f;
}

h1{
    color: white;
    text-align: center;
}
#logueo,#guardar{
    background-color: black;
    color: white;
    border: 1px solid #a4f1ff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
#logueo:hover,#guardar:hover{
    background-color: #97c8ff;
    color: black;
}
#contenedor{
    width: auto;
    text-align: center;
}
#foto{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-image:url("https://static.diariofemenino.com/media/3317/sonarconcolorrosa.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}